{{define "podloveConfig"}}
{
  "activeTab": "chapters",
  "theme": {
    "tokens": {
      "brand": "{{.Bg}}",
      "brandDark": "{{.Bg}}",
      "brandDarkest": "{{.Cyan}}",
      "brandLightest": "{{.White}}",
      "shadeDark": "{{.Green}}",
      "shadeBase": "{{.Fg}}",
			"contrast": "{{.Bg}}",
      "alt": "{{.Fg}}"
    },
    "fonts": {
      "ci": {
        "name": "sans-serif",
        "family": [
          "sans-serif"
        ],
        "weight": 900
      },
      "regular": {
        "name": "sans-serif",
        "family": [
          "sans-serif"
        ],
        "weight": 300
      },
      "bold": {
        "name": "sans-serif",
        "family": [
          "sans-serif"
        ],
        "weight": 700
      }
    }
  }
}
{{end}}
