html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, fieldset, legend, label, table, header, footer, nav, section, figure {
  margin: 0;
  padding: 0;
}

body {
	background: var(--bg);
  font-family: sans-serif;
  font-size: 18px;
  line-height: 26px;
	color: var(--fg);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
}

figure {
  display: block;
  max-width: 100%;
}

a {
  color: var(--cyan);
}

a:hover {
  color: var(--pink);
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
  border: 0;
}

video {
  width: auto;
  max-width: 100%;
  height: auto;
  border: 0;
}

p {
  margin: 0 0 12px;
}

ul {
  list-style: disc;
}

ul, ol {
  padding: 0;
  margin: 0 0 12px 25px;
}

li {
  margin: 0 0 12px 0;
}

h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

h1 {
  font-size: 48px;
  line-height: 1;
	margin-top: 1em;
  font-weight: 600;
  text-align: center;
}

h1 a {
  text-decoration: none;
  color: var(--fg);
}

strong {
  font-weight: 600;
}

/*footer*/
footer {
  width:100%;
}

footer p {
  text-align: center;
}

/*filetree*/
.navbutton {
	position: fixed;
	left: 0;
	top: 0;
	padding: 0.25em;
	background-color: var(--green);
}

/* w3css stuff */

.w3-button {
	padding: 0;
	margin: 0.25em 0 0.25em 0;
	background-color: var(--green);
	color: var(--black);
}

