/* Filetree taken from w3 */

#filetree {
	position: fixed;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	dislay: none;
	background-color: var(--grey);
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25BC";
  color: var(--fg);
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(270deg);
}

/* Hide the nested list */
.nested {
  display: block;
	padding-left: 1.4em;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: none;
}

