{{define "base"}}
<!doctype html>
<html>
	<head>
		<title>{{.Title}}</title>
    <meta name="viewport" content="width=device-width">
		{{template "color" color}}
		{{range .ReadCss}}
			<style>{{.}}</style>
		{{end}}
	</head>
	<body>
	{{.Content}}
	{{range .ReadScripts}}
		<script>{{.}}</script>
	{{end}}
	{{if eq .Mime "image" "video"}}
		{{template "swiperLightbox" .Collection}}
	{{end}}
	</body>
</html>
{{end}}
