{{define "bodyvideo"}}
<div class="container">
	<h1>{{.Title}}</h1>

	<div class="w3-row">
	{{range .Files}}
		<div class="menu-img thumbnail" lightbox-toggle>
			<video src="{{.}}">
		</div>
	{{end}}

	</div>
</div>
{{end}}
