{{define "list"}}
<div class="w3-row w3-padding-32">
	<h2>Children</h2>
	{{range .Children}}
		<a href="{{.Title}}/index.html" class="w3-button w3-block">
			{{.Title}}
		</a>
	{{end}}
</div>
{{end}}
