{{define "base"}}
<!doctype html>
<html>
	<head>
		<title>{{.Title}}</title>
    <meta name="viewport" content="width=device-width">
		{{template "color" .Color -}}
		{{range .Css -}}
		<style>
			{{.}}
		</style>
		{{end -}}

	</head>
	<body>
		<main class="container">
			<div class="row">
				<h1>{{.Title}}</h1>
			</div>
			{{template "breadcrumbs" .}}
	{{if .HasChildren}}
<div x-data="{
	open: false,
	toggle() { this.open = ! this.open }
}">
	<button @click="toggle()">Menu</button>
	<nav class="sidebar" x-show="open" @click.outside="open = false">

	{{template "filterableList" .Nav}}
</nav>
</div>
	{{end}}

			{{.Content -}}

			<footer>
			{{- range .Scripts}}
				<script>
					{{.}}
				</script>
			{{- end}}

			</footer>
		</main>
	</body>
</html>
{{end}}
