{{define "base"}}
<!doctype html>
<html>
	<head>
		<title>{{.Title}}</title>
    <meta name="viewport" content="width=device-width">
		{{template "color" .Color -}}
		{{range .ReadCss -}}
		<style>
			{{.}}
		</style>
		{{end -}}

	</head>
	<body>
		<main class="container">
			<div class="row">
				<h1>{{.Title}}</h1>
			</div>
			{{template "breadcrumbs" .}}

			{{.Content -}}

			<footer>
			{{- range .ReadScripts}}
				<script>
					{{.}}
				</script>
			{{- end}}

			</footer>
		</main>
	</body>
</html>
{{end}}
