{{define "color"}}
<style>
:root {
	{{with .bg}}--bg: {{.}};{{end}}
	{{with .fg}}--fg: {{.}};{{end}}
	{{with .white}}--white: {{.}};{{end}}
	{{with .black}}--black: {{.}};{{end}}
	{{with .grey}}--grey: {{.}};{{end}}
	{{with .yellow}}--yellow: {{.}};{{end}}
	{{with .red}}--red: {{.}};{{end}}
	{{with .pink}}--pink: {{.}};{{end}}
	{{with .cyan}}--cyan: {{.}};{{end}}
	{{with .blue}}--blue: {{.}};{{end}}
	{{with .green}}--green: {{.}};{{end}}
	{{with .purple}}--purple: {{.}};{{end}}
	--darken: brightness(90%);
}
</style>
{{end}}
