{{define "filetree"}}
{{$parent := .}}
{{- if .HasChildren}}
	<dt class="leaf">
	<!--<span class="caret"></span>-->
	<a href="{{.Url}}" class="button-clear">
		{{$name := Dir .Url}}
		{{if eq $name "."}}
			home
		{{else}}
		{{$name}}
		{{end}}
	</a>
	<dl class="nested">
	{{- range .Children}}
		{{template "filetree" . -}}
	{{- end}}
	</dl>
	</dt>
{{- else}}
	<dd class="leaf">
		<a href="{{.Url}}" class="button-clear">{{Dir .Url}}</a>
	</dd>
	{{range .Files}}
		{{if ne . "index.html"}}
	<dd class="leaf">
		<a href="{{Dir $parent.Url}}/{{.}}" class="button-clear">{{.}}</a>
	</dd>
	{{end}}
	{{end}}
{{end -}}
{{end -}}
