{{define "nav"}}
{{$parent := .}}
{{- if .HasChildren}}
	<dt class="leaf">
	<!--<span class="caret"></span>-->
	<a href="{{.Url}}" class="button-clear">
		{{$name := .Info.Base}}
		{{if eq $name "."}}
			home
		{{else}}
		{{$name}}
		{{end}}
	</a>
	<dl class="nested">
	{{- range .Children}}
		{{template "nav" . -}}
	{{- end}}
	</dl>
	</dt>
{{- else}}
	<dd class="leaf">
		<a href="{{.Url}}" class="button-clear">
			{{.Info.Base}}
		</a>
	</dd>
	{{range .Files}}
	<dd class="leaf">
		<a href="{{Dir $parent.Url}}/{{.}}" class="button-clear">
			{{.Base}}
		</a>
	</dd>
	{{end}}
{{end -}}
{{end -}}
