{{define "asset"}}

{{if eq .Tag "video"}}
	<{{.Tag}}

	{{if .Attributes.controls}}
		{{.}}
	{{- end -}}
	{{if .Attributes.autoplay}}
		{{.}}
	{{- end -}}
	{{- range $key, $val := .Attributes}} 
		{{- if ne $key "autoplay"}}
			{{- if ne $key "controls"}}
				{{$key}}="{{$val}}"
			{{- end -}}
		{{- end -}}
	{{- end -}}
	></{{.Tag}}>
	{{end}}

{{if eq .Tag "img"}}
<img
{{- range $key, $val := .Attributes}} 
	{{- if ne $key "type"}}
		{{$key}}="{{$val}}"
	{{- end -}}
{{- end -}}
></img>
{{end}}

{{if eq .Tag "audio"}}
<{{.Tag}}
	{{if .Attributes.autoplay}}
		{{.}}
	{{- end -}}
{{- range $key, $val := .Attributes}} 
	{{- if ne $key "autoplay"}}
		{{$key}}="{{$val}}"
	{{- end -}}
{{- end -}}
></{{.Tag}}>
{{end}}
{{end}}
