{{define "base"}}
<!doctype html>
<html>
	<head>
		<title>{{.Title}}</title>
    <meta name="viewport" content="width=device-width">
		{{template "color" .Color -}}
		{{range .Css -}}
		<style>
			{{.}}
		</style>
		{{end -}}

	</head>
	<body>
		<div class="container">
			<div class="row">
				<h1>{{.Title}}</h1>
			</div>
			{{template "breadcrumbs" .}}

			{{if .Children}}
				{{$open := false}}
				{{if eq .Title "Home"}}
					{{$open = true}}
				{{end}}
				<div x-data="{open: {{$open}}, toggle() { this.open = ! this.open }}">
				<button @click="toggle()">Menu</button>
				<nav class="sidebar" x-show="open" @click.outside="open = false">

					{{template "filterableList" .}}
				</nav>
			</div>
			{{end}}

		<main>
			{{.Content -}}
		</main>

			<footer>
			{{- range .Scripts}}
				<script>
					{{.}}
				</script>
			{{- end}}

			</footer>
		</div>
	</body>
</html>
{{end}}
