{{define "list"}}
	{{range .}}
		{{if .children}}
			<div x-show="show_item($el)" style="padding-left:{{.indent}}rem;" class="dir">
			 &plus; <a href="{{.href}}">{{.text}}</a>
		</div>
			{{template "list" .children}}
		{{else}}
			<div x-show="show_item($el)" style="padding-left:{{.indent}}rem;" class="dir">
				&#8627; <a href="{{.href}}">{{.text}}</a>
		</div>
		{{end}}
	{{end}}
{{end}}
