{{define "podlove"}}
	<div class="podlove" id="podlove"></div>
<script>
  podlovePlayer('#podlove', 
			'{{template "podloveEpisode" .}}', 
			'{{template "podloveConfig" .Color}}');
</script>
{{end}}
