.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(268px, 1fr));
}

.thumbnail {
  text-align: center;
	margin: 0.25em;
}

.thumbnail img, .thumbnail video {
	width: auto;
	max-height: 150px;
	border: 2px solid var(--green);
}

.thumbnail video:hover, .thumbnail img:hover {
	border: 2px solid var(--purple);
}

/*Media Queries*/
@media screen and (max-width: 700px) {
  h1 {
    font-size: 40px;
  }
  .thumbnail {
    width: 33%;
  }
}

@media screen and (max-width: 500px) {
  .thumbnail {
    width: 45%;
  }
}

@media screen and (max-width: 300px) {
  .thumbnail {
    width: 100%;
  }
}

