#description {
  font-size: 36px;
  line-height: 1;
	margin-bottom: 1em;
  font-weight: 600;
  text-align: center;
}

.thumbnail {
	width: 24%;
  text-align: center;
	margin: 0.25em;
  float:left;
}

.thumbnail img, .thumbnail video {
	width: auto;
	max-height: 150px;
	margin: 0 5px 5px 5px;
	border: 2px solid var(--green);
	border-radius: 2px 2px 2px 2px;
	padding: 0 0 2px;
}

.thumbnail video:hover, .thumbnail img:hover {
	border: 2px solid var(--purple);
}

/*Media Queries*/
@media screen and (max-width: 700px) {
  h1 {
    font-size: 40px;
  }
  .thumbnail {
    width: 33%;
  }
}

@media screen and (max-width: 500px) {
  .thumbnail {
    width: 45%;
  }
}

@media screen and (max-width: 300px) {
  .thumbnail {
    width: 100%;
  }
}

