{{define "base"}}
<!doctype html>
<html>
	<head>
		<title>{{.Title}}</title>
    <meta name="viewport" content="width=device-width">
		{{template "color" color}}
		{{range .ReadCss}}
		<style>
			{{.}}
		</style>
		{{end}}
	</head>
	<body>
		<main class="w3-mobile w3-content w3-main">
				{{if .HasChildren}}
					{{.Tree}}
					{{/* template "tree" . */}}
				{{end}}

			{{.Content}}

			{{if eq .Mime "image" "video"}}
				{{template "swiperLightbox" .Collection}}
			{{end}}

			<footer>
			{{range .ReadScripts}}
			<script>
				{{.}}
			</script>
			{{end}}

			</footer>

		</main>
	</body>
</html>
{{end}}
