{{define "bodyvideo"}}

{{range Batch .Files}}
<div class="w3-row">
	{{range .}}
	<div class="menu-img thumbnail w3-quarter" lightbox-toggle>
		<video src="{{.}}">
	</div>
	{{end}}
</div>
{{end}}
{{end}}
