{{define "filetree"}}
{{$parent := .}}
{{- if .HasChildren}}
	<div class=""><span class="caret"></span>
		<a href="{{.Url}}">{{.Title}}</a>
		<div class="nested">
		{{- range .Children}}
			{{template "nested" . -}}
		{{- end}}
		</div>
	</div><!--end {{.Title}} -->
{{- else}}
			<div>
				<a href="{{.Url}}">{{.Title}}</a>
			</div>
{{end -}}
{{end -}}
