{{define "nested"}}
{{- if .HasChildren}}
	<div class=""><span class="caret"></span>
		{{.Title}}
		<div class="nested">
		{{- range .Children}}
			{{template "nested" . -}}
		{{- end}}
		</div>
	</div><!--end {{.Title}} -->
{{- else}}
			<div>{{.Title}}</div>
{{end -}}
{{end -}}
