{{define "tree"}}
{{if .HasChildren}}
	<li><span class="caret">{{.Title}}</span>
	<ul class="nested">
{{else -}}
	<li>{{.Title}}</li>
{{end -}}
{{if .HasChildren -}}
	{{range .Children -}}
		{{if .HasChildren -}}
			{{template "tree" .}}
		{{else}}
			<li>{{.Title}}</li>
		{{end -}}
	{{end -}}
{{end -}}
{{if .HasChildren -}}
	</li></ul>
{{end}}
{{end}}
